.search-container {
  width: 100%;
  position: relative;
  margin-bottom: 40px;

  input {
    border-radius: 50px;
    padding: 14px 35px;
    border: none;
    font-size: 32px;
    background: #f1ece6;
    @media (max-width: 992px) {
      font-size: 24px;
    }
    @media (max-width: 552px) {
      font-size: 15px;
      font-weight: 500;
    }
  }

  .btn-add {
    position: absolute;
    right: 0;
    color: #f3f3f3;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 1.9px;
    padding-inline: 27px;
    border-radius: 0px 50px 50px 0px;
    background: var(--blue, #76b7cd);
    height: 100%;
    @media (max-width: 992px) {
      font-size: 20px;
    }
  }
}
